@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(#34286b, #272042);
    font-family: "Poppins", sans-serif;
}


header h1 {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}


table {
    border: 1px #1F618D solid;
    font-size: 25px;
    margin-left: 130px;
    margin: auto;
}


tr {
    border: 1px #0b121c solid;
    background-color: #0b121c;
}

td {
    border: 1px #0b121c solid;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: center;
    background-color: #0b121c;
}

button {
    border: 0px;
    background-color: #939cba;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}

.container {
    width: 1100px;
    margin: auto;
}

#div_game {
    background: linear-gradient(#34286b, #272042);
    border: 2px #000 solid;
    border-radius: 20px;
    margin: auto;
    width: auto;
    height: auto;
}

#div_questions {
    color: white;
    font-size: 22px;
    background-color: #0b121c;
    width: 700px;
    height: 80px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    margin: auto;
    display: inline-block;
}

#button_verify {
    width: 100px;
    margin: auto;
}

#input_answer {
    width: 150px;
    height: 20px;
    margin: auto;
    border-radius: 15px;
}

.deadCell {
    background-color: #000;
}

.availableCell {
    background-color: #ffffff;
}

footer {
    height: auto;
    background-color: #939cba;
    color: #ffffff;
    font-size: 15px;
    margin-bottom: auto;
    padding-bottom: 15px;
}

footer p {
    text-align: center;

}

#div_information {
    width: 500px;
    border: 1px #000 solid;
    border-radius: 20px;
    margin: auto;
    background-color:#221d38;
    font-size: 20px;
    color: white
}


#div_verifiedAnswer {
    width: 400px;
    height: 90px;
    margin: auto;
    text-align: center;
    font-size: 20px;
    vertical-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.correctAnswer {
    background-color: #58D68D;
    color: #000000;
    border: 1px #196F3D solid;
    border-radius: 20px;
}

.wrongAnswer {
    background-color: #ad3123;
    color: #000000;
    border: 1px #7B241C solid;
    border-radius: 20px;

}