@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffffff;
}

.dashboard {
    display: flex;
    flex-direction: column;
}

header {
    height: 9vh;
    width: 100%;
    background-color: #091e38;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    align-items: center;
    border-bottom: 2px solid #2c90ea;
}

.texto span {
    font-weight: 400;
    font-size: 20px;
}


.botao {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    margin-right: 100px;
}

.botao button {
    cursor: pointer;
    border: none;
    border-radius: 5vh;
    width: 100px;
    height: 35px;
    background-color: white;
    color: rgb(7, 6, 6);
    font-size: 1.5vh;
    margin-left: 20px;
}

.botao button:hover {
    background-color: black;
    color: white;
    border: 2px solid #5c93d6;
}

.paginaDash {
    width: 100%;
    height: 91vh;
    display: flex;
    flex-direction: row;
}

.menu {
    width: 15%;
    height: 100%;
    background-color: #091e38;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.Servidor {
    color: #2c90ea;
    margin: 10px 0;
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 180px;

}

.container h2 {
    margin-top: 40px;
    margin-bottom: 90px;
    font-weight: 400;
    font-size: 19px;
}

select {
    width: 60%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    border: 3px #464646 solid;
    font-weight: 700;
    text-align: center;
}

.logo {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    width: 8%;
    height: auto;
    margin-right: 2%;
    
}

.logo-txt {
    color: #ddd;
    font-size: 28px;
    text-decoration: none;
}

.logo span {
    color: #698cbe;
}

.conteudo {
    width: 85%;
    padding: 20px;
}

.conteudo  h2{
    text-align: center;
}

.informacoes-central {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card-central {
    background-color: #eeeeee;
    border-radius: 20px;
    border: #888888 3px solid;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.card-valor {
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}

.card-valor-alerta {
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
}


.graficos-e-processos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin-top: 90px;
}


.barra-vertical {
    width: 3px;
    background-color: #091e38;
    height: 360px; 
}

.grafico {
    width: 550px;
    background-color: rgb(237, 237, 237);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 10px;
    border-radius: 10px;
}

.processos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.card-processos {
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 237, 237);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    align-items: center;
    justify-content: center;
    height: 345px;
    border-radius: 20px;
    width: 590px;
}

.titulo-processos {
    text-align: center;
    margin-bottom: 30px;
}

.mensagemProcessos {
    color: red;
    font-size: 1.3rem;
    font-weight: bold;
}